@model IEnumerable<Zemoga.Domain.Models.Post>
@{
    ViewData["Title"] = "Pending Approval";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostText)
            </th>
            <th>Approve/Reject Post</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostText)
            </td>
            <td>
                <a asp-action="Approve" asp-route-PostId="@item.PostId">Approve</a> |
                <a asp-action="Reject" asp-route-PostId="@item.PostId">Reject</a>
            </td>            
        </tr>
}
    </tbody>
</table>
